<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edycja Zawodów</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{header :: header}"></nav>
<div class="container">
    <h1>Edycja Zawodów</h1>
    <form th:action="@{/competitions/update}" th:object="${competition}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="name">Nazwa Zawodów:</label>
            <input type="text" id="name" name="name" class="form-control" th:field="*{name}" required>
        </div>
        <div class="form-group">
            <label for="date">Data:</label>
            <input type="date" id="date" name="date" class="form-control" th:field="*{date}" required>
        </div>
        <div class="form-group">
            <label for="location">Lokalizacja:</label>
            <input type="text" id="location" name="location" class="form-control" th:field="*{location}" required>
        </div>
        <div class="form-group">
            <label for="objectName">Obiekt:</label>
            <input type="text" id="objectName" name="objectName" class="form-control" th:field="*{objectName}" required>
        </div>
        <div class="form-group">
            <label for="createdByLabel">Utworzony przez:</label>
            <input type="hidden" th:field="*{createdBy.id}" id="createdBy" name="createdBy" class="form-control" th:value="*{createdBy.id}">
            <label id="createdByLabel" th:text="${competition.createdBy != null ? competition.createdBy.firstName + ' ' + competition.createdBy.lastName : 'Brak'}"></label>
        </div>
        <div class="form-group">
            <label for="leagueLabel">Liga:</label>
            <input type="hidden" th:field="*{league.id}" id="league" name="league" class="form-control" th:value="*{league.id}">
            <label id="leagueLabel" th:text="${competition.league != null ? competition.league.name : 'Brak'}"></label>
        </div>
        <div class="form-group">
            <label for="type">Typ Zawodów:</label>
            <select id="type" name="type" class="form-control" th:field="*{type}" required>
                <option th:each="type : ${competitionTypes}" th:value="${type}" th:text="${type}">Typ</option>
            </select>
        </div>
        <div class="form-group">
            <label for="scoreSystem">System Punktowy:</label>
            <select id="scoreSystem" name="scoreSystem" class="form-control" th:field="*{scoreSystem}" required>
                <option th:each="scoreSystem : ${scoreSystems}" th:value="${scoreSystem}" th:text="${scoreSystem}">System Punktowy</option>
            </select>
        </div>
        <td>
            <button type="submit" class="btn btn-success">Zapisz zmiany</button>
        </td>
    </form>
        <h2>Bouldery</h2>
    <!-- Dodaj sekcję do wyświetlania komunikatów -->
    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <span th:text="${successMessage}"></span>
    </div>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nazwa Boulderu</th>
                <th>Punkty za Top</th>
                <th>Punkty za Zone</th>
                <th>Trudność</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boulder : ${competition.boulders}">
                <td>
                    <input type="text" name="name" class="form-control" th:value="${boulder.name}" readonly required>
                </td>
                <td>
                    <input type="number" name="pointsForTop" class="form-control" th:value="${boulder.pointsForTop}" readonly required>
                </td>
                <td>
                    <input type="number" name="pointsForZone" class="form-control" th:value="${boulder.pointsForZone}" readonly required>
                </td>

                <td th:text="${boulder.difficulty}">Trudność</td>

                <td>
                    <form th:action="@{/competitions/boulders/delete/{id}(id=${boulder.id})}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
<!--            Dodawanie nowego Boulderu -->
            <tr>
                <form th:action="@{/competitions/boulders/add/{competition}(competition=${competition.id})}" th:object="${newBoulder}" method="post">

                    <td>
                        <input type="text" name="name" class="form-control" th:field="*{name}" placeholder="Nazwa Boulderu" required>
                    </td>
                    <td>
                        <input type="number" name="pointsForTop" class="form-control" th:field="*{pointsForTop}" placeholder="Punkty za Top" min="1" required>
                    </td>
                    <td>
                        <input type="number" name="pointsForZone" class="form-control" th:field="*{pointsForZone}" placeholder="Punkty za Zone" min="1" required>
                    </td>
                    <td>
                        <select name="difficulty" class="form-control" th:field="*{difficulty}" required>
                            <option th:each="difficulty : ${difficulties}" th:value="${difficulty}" th:text="${difficulty}">Trudność</option>
                        </select>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success">Dodaj</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
        <div class="form-group">
            <a th:href="@{/leagues/edit/{id}(id=${competition.league.id})}" class="btn btn-secondary">Powrót do Edycji Lig</a>
        </div>

</div>

    <script>

        if ([[${successMessage != null}]]) {
            alert("Zapis się udał: " + [[${successMessage}]]);
        }
        if ([[${errorMessage != null}]]) {
            alert("Błąd zapisu: " + [[${errorMessage}]]);
        }
    </script>
    <script>
        function editBoulder(button) {
            var form = button.closest('form');
            form.querySelectorAll('input, select').forEach(function (input) {
                input.readOnly = false;
                input.disabled = false;
            });
            button.style.display = 'none';
            form.querySelector('.btn-primary').style.display = 'inline-block';
        }
    </script>

</body>
</html>
