<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="header :: header"></nav>
<div class="container">
    <h1>Rejestracja</h1>
    <form th:action="@{/registration}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" />
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>
            <div th:if="${emailExists}" class="text-danger">Ten e-mail jest już używany.</div>
        </div>
        <div class="form-group">
            <label for="password">Hasło:</label>
            <input type="password" id="password" th:field="*{password}" class="form-control" />
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">Potwierdź Hasło:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" />
        </div>
        <div class="form-group">
            <label for="firstName">Imię:</label>
            <input type="text" id="firstName" th:field="*{firstName}" class="form-control" />
            <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <label for="lastName">Nazwisko:</label>
            <input type="text" id="lastName" th:field="*{lastName}" class="form-control" />
            <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger"></div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Zarejestruj</button>
        </div>
    </form>
</div>
</body>
</html>
