<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:replace="header :: header"></header>
<div class="container">
    <h1>Użytkownicy</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Profil</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">1</td>
            <td th:text="${user.email}">email@example.com</td>
            <td th:text="${user.firstName}">First Name</td>
            <td th:text="${user.lastName}">Last Name</td>
            <td th:text="${user.role}">USER</td>
            <td>
                <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-danger" onclick="return confirm('Czy chcesz usunąć użytkownika?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<a href="javascript:history.back()" class="btn btn-primary">Powrót</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function goBack() {
        if (document.referrer !== "") {
            history.back();
        } else {
            window.location.href = "/index.html";
        }
    }
</script>
</body>
</html>
